body {
  background: linear-gradient(40deg, #545EC8, #4256C8, #132B5A);
  background-attachment: fixed;
  /*display: flex;
  align-items: center;*/

}


svg {
  width: 250px;
  /*height: 250px;*/
/*  position: absolute;*/
  top: 0;
  left: 0;
  right: 0;
  /*bottom: 0;*/
  margin-left: 40%;
  margin-top: 60px;

}

p {
  font-family: 'Exo 2', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 1.5em;
  text-align: center;
}




.search-bar {
  margin-top: 30px;
  height: auto;
  width: auto;
  position: relative;
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.search-bar input {
  height: 44px;
  width: 44px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 44px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: transparent;
}
.search-bar input::-webkit-input-placeholder {
  color: transparent;
}
.search-bar input::-moz-placeholder {
  color: transparent;
}
.search-bar input:-ms-input-placeholder {
  color: transparent;
}
.search-bar input::placeholder {
  color: transparent;
}
.search-bar input:invalid {
  box-shadow: none;
}
.search-bar input:hover {
  border: 2px solid #FFF;
  box-shadow: 0 0 2px 2px #EEE;
}
.search-bar input:focus, .search-bar input:valid {
  width: 300px;
  border: 2px solid #CCC;
  outline: none;
  cursor: auto;
  background-color: #FFF;
  color: #000;
}
.search-bar input:focus::-webkit-input-placeholder, .search-bar input:valid::-webkit-input-placeholder {
  color: #999;
}
.search-bar input:focus::-moz-placeholder, .search-bar input:valid::-moz-placeholder {
  color: #999;
}
.search-bar input:focus:-ms-input-placeholder, .search-bar input:valid:-ms-input-placeholder {
  color: #999;
}
.search-bar input:focus::placeholder, .search-bar input:valid::placeholder {
  color: #999;
}
.search-bar input:focus + .search-icon, .search-bar input:valid + .search-icon {
  z-index: 0;
  border-color: #CCC;
  right: 20px;
}
.search-bar input:focus + .search-icon:after, .search-bar input:valid + .search-icon:after {
  background-color: #CCC;
}

.search-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  right: 12px;
  top: 8px;
  z-index: -1;
}
.search-icon:after {
  content: '';
  position: absolute;
  top: 19.07px;
  left: 17.07px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  height: 2px;
  width: 10px;
  background-color: #FFF;
  border-radius: 10px;
}


/*BOOSTSRAP*/


.row {
  margin-top: 10px;
  padding-left: 30px;
}


